version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend-web
    ports:
      - "8080:80"
    restart: unless-stopped
